{include file="public/layout" /}
<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    {include file="seo/bar" /}
    <!-- 操作說明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相關設定操作時應注意的要點">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span></div>
        <ul>
            <li>開啟偽靜態化需空間環境配置開啟mod_rewrite模組，如沒有開啟則聯繫空間商解決。</li>
        </ul>
    </div>
    <form method="post" id="handlepost" action="{:url('Seo/handle')}" enctype="multipart/form-data" name="form1">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">首頁</dt>
                <dd class="opt">
                    {notempty name='$root_dir'}子目錄名稱/{/notempty}/（如：http://127.0.0.1__ROOT_DIR__/）
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">列表頁</dt>
                <dd class="opt">
                    {notempty name='$root_dir'}子目錄名稱/{/notempty}目錄名稱.html（如：http://127.0.0.1__ROOT_DIR__/about/）
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">文件頁</dt>
                <dd class="opt">
                    {notempty name='$root_dir'}子目錄名稱/{/notempty}目錄名稱/ID.html（如：http://127.0.0.1__ROOT_DIR__/about/250.html）
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">偽靜態規則</dt>
                <dd class="opt">
                    <a href="http://www.eyoucms.com/wenda/860.html" target="_blank">EyouCms去除URL中的index.php</a>
                    <p class="notic">部分空間需要手動設定偽靜態規則檔案</p>
                </dd>
            </dl>
        </div>
    </form>
</div>
<script type="text/javascript">
    function adsubmit(){
        layer_loading("正在處理");
        $('#handlepost').submit();
    }
</script>

{include file="public/footer" /}