<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>檔案管理</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/webuploader/webuploader.css?v={$version|default='1.2.9'}">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/webuploader/css/style.css?v={$version|default='1.2.9'}">
<script type="text/javascript">
    var eyou_basefile = "{$Request.baseFile}";
    var module_name = "{$Think.const.MODULE_NAME}";
    var __root_dir__ = "__ROOT_DIR__";
</script> 
</head>
<body>
<div class="upload-box">
<!--     <ul class="tabs">
        <li class="checked" id="upload_tab">本地上傳</li>
        <li id="manage_tab">線上管理</li>
        <li id="search_tab">檔案搜索</li>
    </ul> -->
    <div class="container">
        <div class="area upload-area area-checked" id="upload_area">
            <div id="uploader">
                <div class="statusBar" style="display:none;">
                    <div class="progress">
                        <span class="text">0%</span>
                        <span class="percentage"></span>
                    </div><div class="info"></div>
                    <div class="btns">
                        <div id="filePicker2"></div><div class="uploadBtn">開始上傳</div>
                        <div class="saveBtn">確定使用</div>
                    </div>
                </div>
                <div class="queueList">
                    <div id="dndArea" class="placeholder">
                        <div id="filePicker"></div>
                        <p>或將檔案拖到這裡，本次最多可選{$field.num|default=1}個</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="area manage-area" id="manage_area">
            <ul class="choose-btns">
                <li class="btn sure checked">確定</li>
                <li class="btn cancel">取消</li>
            </ul>
            <div class="file-list">
                <ul id="file_all_list">
                    <!--<li class="checked">
                        <div class="img">
                            <img src="" />
                            <span class="icon"></span>
                        </div>
                        <div class="desc"></div>
                    </li>-->
                </ul>
            </div>
        </div>
        <div class="area search-area" id="search_area">
            <ul class="choose-btns">
                <li class="search">
                    <div class="search-condition">
                        <input class="key" type="text" />
                        <input class="submit" type="button" hidefocus="true" value="搜索" />
                    </div>
                </li>
                <li class="btn sure checked">確定</li>
                <li class="btn cancel">取消</li>
            </ul>
            <div class="file-list">
                <ul id="file_search_list">
                    <!--<li>
                        <div class="img">
                            <img src="" />
                            <span class="icon"></span>
                        </div>
                        <div class="desc"></div>
                    </li>-->
                </ul>
            </div>
        </div>
        <div class="fileWarp" style="display:none;">
            <fieldset>
                <legend>列表</legend>
                <ul>
                </ul>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/common/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/webuploader/webuploader.min.js?v={$version|default='1.2.9'}"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/webuploader/upload.js?v={$version|default='1.2.9'}"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/layer-v3.1.0/layer.js?v={$version|default='1.2.9'}"></script>
<script type="text/javascript">
$(function(){
    var config = {
            "swf":"__PUBLIC__/plugins/webuploader/Uploader.swf",
            "server":"{$field.upload}",
            "filelistPah":"{$field.fileList}",
            "delPath":"{:url('Uploadify/delupload')}",
            "chunked":false,
            "chunkSize":524288,
            "fileNumLimit":{$field.num|default=1},
            "fileSizeLimit":209715200,
            "fileSingleSizeLimit":{$field.size},
            "fileVal":"file",
            "auto":true,
            "formData":{},
            "pick":{"id":"#filePicker","label":"點選選擇圖片","name":"file"},
            "thumb":{"width":110,"height":110,"quality":70,"allowMagnify":true,"crop":true,"preserveHeaders":false,"type":"image\/jpeg"},
            "compress": {
                "width": 3800,
                "height": 3800,
                "quality": 90,
                "allowMagnify": false,
                "crop": false,
                "preserveHeaders": true
            }
    };
    Manager.upload($.extend(config, {type : "Images"}));
    
    /*點選儲存按鈕時
     *判斷允許上傳數，檢測是單一檔案上傳還是組檔案上傳
     *如果是單一檔案，上傳結束后將地址存入$input元素
     *如果是組檔案上傳，則建立input樣式，新增到$input後面
     *隱藏父框架，清空列隊，移除已上傳檔案樣式*/
    $(".statusBar .saveBtn").click(function(){
        var aid = {$field.aid};
        var callback = "{$field.func}";
        var num = {$field.num|default=1};
        var fileurl_tmp = [];
        if(callback != "undefined"){    
            if(num > 1){    
                 $("input[name^='fileurl_tmp']").each(function(index,dom){
                    fileurl_tmp[index] = dom.value;
                 });    
            }else{
                fileurl_tmp = $("input[name^='fileurl_tmp']").val();    
            }
            /*防止圖片上傳過程中使用者點選確定，導致獲取圖片失敗 by 小虎哥*/
            if (fileurl_tmp == undefined || fileurl_tmp.length == 0) {
                layer.msg('正在處理……', {icon: 6,time: 2000});
                return false;
            }
            /*--end*/
            eval('window.parent.'+callback+'(fileurl_tmp)');
            upload_save_product(aid, fileurl_tmp);
            return;
        }                    
        if(num > 1){
                var fileurl_tmp = "";
                $("input[name^='fileurl_tmp']").each(function(){
                    fileurl_tmp += '<li rel="'+ this.value +'"><input class="input-text" type="text" name="{$field.input}[]" value="'+ this.value +'" /><a href="javascript:void(0);" onclick="ClearPicArr(\''+ this.value +'\',\'\')">刪除</a></li>'; 
                });         
                $(window.parent.document).find("#{$field.input}").append(fileurl_tmp);
        }else{
                $(window.parent.document).find("#{$field.input}").val($("input[name^='fileurl_tmp']").val());
        }
        window.parent.layer.closeAll();
    });

    function upload_save_product(aid, a)
    {
        $.ajax({
            type: "POST",
            url: "{:url('Product/ajax_save_productimg')}",
            data: {proimg:a, aid:aid},
            dataType: 'json',
            success: function (data) {
                if(data.status == 1){
                    window.parent.layer.closeAll();
                    window.parent.location.reload();
                }else{
                    layer.alert(data.msg, {icon: 2,time: 3000, title:false});
                }
            },
            error: function(e){
                layer.alert('網路故障', {icon: 2,time: 3000, title:false});
            }
        });
    }
});
</script>
</body>
</html>