
                                    {eyou:empty name="$is_open_alipay"}
                                    <li class="text-xs-center pay-order-zhifubao" data-toggle="modal" data-target="#pay-order-modal">
                                        {eyou:empty name='$isbrowser'}
                                            <a class="block cover pay-online" href="JavaScript:void(0);" onclick="UpdateMethod('alipay','{$alipay_url}');">
                                                <img src="{eyou:global name='web_templets_pc' /}/users/skin/images/payOnline_zfb.png" class="img-fluid inline-block">
                                            </a>
                                        {eyou:else /}
                                            <a class="block cover pay-online" href="JavaScript:void(0);" onclick="UpdateMethod('alipay');">
                                                <!-- alipay() -->
                                                <img src="{eyou:global name='web_templets_pc' /}/users/skin/images/payOnline_zfb.png" class="img-fluid inline-block">
                                            </a>
                                        {/eyou:empty}
                                    </li>
                                    {/eyou:empty}

                                    {eyou:empty name="$is_open_wechat"}
                                    <li>
                                        {eyou:empty name='$isweixin'}
                                            <a class="block cover pay-online" href="JavaScript:void(0);" onclick="UpdateMethod('wechat','','{$data.unified_id}','{$data.unified_number}','{$data.transaction_type}');">
                                                <img src="{eyou:global name='web_templets_pc' /}/users/skin/images/weixinpay.png" class="img-fluid inline-block">
                                            </a>
                                        {eyou:else /}
                                             <a class="block cover pay-online" href="JavaScript:void(0);" onclick="UpdateMethod('wechat','{$weixin_url}');" >
                                                <img src="{eyou:global name='web_templets_pc' /}/users/skin/images/weixinpay.png" class="img-fluid inline-block">
                                            </a>
                                        {/eyou:empty}
                                    </li>
                                    {/eyou:empty}