
<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {neq name='$Request.action' value='arctype_index'}current{/neq}" value="欄目管理" onClick="window.location.href='{:url('RecycleBin/arctype_index')}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {neq name='$Request.action' value='archives_index'}current{/neq}" value="文件管理" onClick="window.location.href='{:url('RecycleBin/archives_index')}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {neq name='$Request.action' value='customvar_index'}current{/neq}" value="自定義變數" onClick="window.location.href='{:url('RecycleBin/customvar_index')}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {neq name='$Request.action' value='proattr_index'}current{/neq}" value="產品參數" onClick="window.location.href='{:url('RecycleBin/proattr_index')}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {neq name='$Request.action' value='gbookattr_index'}current{/neq}" value="留言屬性" onClick="window.location.href='{:url('RecycleBin/gbookattr_index')}';">
</div>