{include file="public/layout" /}

<body style="background-color: #FFF; overflow-y: scroll;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="{:url('Member/users_index')}" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>會員中心 - 批量新增使用者</h3>
                <h5></h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="postForm" action="{:url('Member/users_batch_add')}" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="username"><em>*</em>使用者名稱列表</label>
                </dt>
                <dd class="opt">
                    <textarea style="width:200px; height:250px;" name="username" id="username" placeholder="一行代表一個使用者名稱"></textarea>
                    <span class="err"></span>
                    <p class="notic">只允許漢字、字母、數字和_-@#的字元組合</p>
                    <p class="">提示：儲存時系統自動過濾一些不符合的使用者名稱</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="password"><em>*</em>登錄密碼</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="password" id="password" class="input-txt">
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="level">使用者級別</label>
                </dt>
                <dd class="opt">
                    <select name="level" id="level">
                        {volist name='$user_level' id='vo'}
                            <option value="{$vo.level_id}" >{$vo.level_name}</option>
                        {/volist}
                    </select>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            {notempty name='$users_para'}
            <dl class="row"><dt class="tit"><label><b>更多資料</b></label></dt></dl>
            <!-- 使用者屬性 開始 -->
            {include file="member/users_field"/}
            <!-- 使用者屬性 結束 -->
            {/notempty}
            <div class="bot">
                <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green" id="submitBtn">確認提交</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function checkForm(){
        if($('input[name=username]').val() == ''){
            showErrorMsg('使用者名稱不能為空！');
            $('input[name=username]').focus();
            return false;
        }

        var password = $('#password').val();
        if(password == ''){
            showErrorMsg('登錄密碼不能為空！');
            $('#password').focus();
            return false;
        }

        layer_loading('正在處理');
        $('#postForm').submit();
    }
</script>

{include file="public/footer" /}