{include file="public/layout" /}
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    {include file="weapp/bar" /}
    <form class="form-horizontal" id="post_form" action="{:U('Weapp/pack')}" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="code"><em>*</em>外掛標識</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="code" placeholder="比如：Demo" id="code" class="input-txt" onkeyup="this.value=this.value.replace(/[^a-zA-Z0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^a-zA-Z0-9]/g,''));">
                    <input type="button" class="btn" value="產生檔案列表" onclick="createPackfiles();">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="additional_file"><em>*</em>打包檔案列表</label>
                </dt>
                <dd class="opt">
                    <textarea rows="5" cols="80" id="additional_file" name="additional_file" style="width: 375px;height:250px;" placeholder="列舉外掛涉及的獨立檔案，儘量不改動原系統程式碼：
weapp/Sample
template/plugins/sample
application/plugins/controller/Sample.php
application/plugins/logic/SampleLogic.php
application/plugins/model/Sample.php"></textarea>
                    <p class="notic">一行代表一個可選值</p>
                    <p class="">一行代表一個可選值</p>
                </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green" id="submitBtn">確認提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">

    /*外掛標準涉及的檔案及目錄*/
    var packlistArr = new Array();
    packlistArr[0] = 'weapp/Sample';
    packlistArr[1] = 'template/plugins/sample';
    packlistArr[2] = 'application/plugins/controller/Sample.php';
    packlistArr[3] = 'application/plugins/logic/SampleLogic.php';
    packlistArr[4] = 'application/plugins/model/Sample.php';
    /*--end*/

    /**
     * 外掛標識格式判斷
     * @param str
     */
    function checkCode(str){
        var reg = /^[A-Z]([a-zA-Z0-9]*)$/;
        if(reg.test(str)){
            return true;
        }else{
            return false;
        }
    }

    // 判斷輸入框是否為空
    function checkForm(){
        var code = $.trim($('input[name=code]').val());
        if(!checkCode(code)){
            showErrorMsg('外掛標識格式不正確！');
            $('input[name=code]').focus();
            return false;
        }
        if ('Sample' == code) {
            showErrorMsg('樣本外掛禁止打包！');
            $('input[name=code]').focus();
            return false;
        }
        layer_loading('正在處理');
        $('#post_form').submit();
    }

    // 產生打包檔案列表
    function createPackfiles()
    {
        var code = $.trim($('input[name=code]').val());
        if(!checkCode(code)){
            showErrorMsg('外掛標識格式不正確！');
            $('input[name=code]').focus();
            return false;
        }
        if ('Sample' == code) {
            showErrorMsg('樣本外掛禁止打包！');
            $('input[name=code]').focus();
            return false;
        }
        var additional_file = '';
        for (var i = 0; i < packlistArr.length; i++) {
            filestr = packlistArr[i];
            filestr = filestr.replace('Sample', code);
            filestr = filestr.replace('sample', code.toLowerCase());
            additional_file += filestr;
            if (i < packlistArr.length - 1) {
                additional_file += "\n";
            }
        }
        $('#additional_file').val(additional_file);
        var index = layer.alert("請檢查打包檔案或目錄是否完整！", {icon: 6, title:false}, function(){
            layer.close(index);
            $('#additional_file').focus();
        });
    }

</script>
{include file="public/footer" /}