<!DOCTYPE HTML>
<html debug="true" lang="zh_tw">
<head>
<meta charset="utf-8">
<title>{$eyou.field.seo_title}</title>
<meta property="og:title" content="{$eyou.field.seo_title}">
<meta property="og:site_name" content="{$eyou.field.seo_title}">
<meta property="og:url" content="{eyou:global name='web_basehost' /}">
<meta property="og:type" content="website">
<meta name="description" content="{$eyou.field.seo_description}">
<meta name="keywords" content="{$eyou.field.seo_keywords}">

<!--CSS-->
<link rel="stylesheet" type="text/css" href="template/pc/css/master.css">
<!--main nav-->
<link rel="stylesheet" type="text/css" href="template/pc/function/bootsnav/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="template/pc/function/bootsnav/css/bootsnav.css">

<link rel="stylesheet" type="text/css" href="template/pc/css/album.css">

<!--手機解析度-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--favor icon-->
<link rel="shortcut icon" href="{eyou:global name='web_cmspath' /}/favicon.ico" />

<!--google_font-->
<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">  

<script type="text/javascript" src="template/pc/Scripts/jquery/jquery-2.1.1.min.js"></script>
<!--main nav-->
<script src="template/pc/function/bootsnav/bootsnav.js"></script>

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head> 
 <body>
 	<div class="page_Wrap">
 		<!--header-s-->
 		{eyou:include file="header.htm"/}
 		<!--header-e-->
 		<!--banner-->
 		<div class="banner">
 			<div class="banner_wrap">
 				<div class="inPageTitle">
					<p>Events</p>
					<h2>活動花絮</h2>
				</div>
			</div>
 		</div>
		<!--banner end-->
		<!--mainBox-->
		<div class="main_wrap">
			<!--bread-->
			<div class="bread">{eyou:position style="crumb" /}</div>
			<!--bread end-->
			<div class="side_menu">
				<ul>
					{eyou:channel type="sonself" currentstyle="active"}
					<li><a href="{$field.typeurl}" title="{$field.typename}" class="{$field.currentstyle}">{$field.typename}</a></li>
					{/eyou:channel}
				</ul>
			</div>
			<ul class="eventsList">
				{eyou:list pagesize="8" titlelen="20"}
				<li>
					<div class="eventImg"><a href="{$field.arcurl}" title="{$field.title}"><img class="cover-image overlay-scale" src="{$field.litpic}" alt="{$field.title}" /></a></div>
					<div class="infoBox">
						<h3><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></h3>
						<p>活動時間：{eyou:field aid='$field.aid' addfields='event_date' /}<br >活動地點：{eyou:field aid='$field.aid' addfields='event_location' /}</p>
					</div>
				</li>
				{/eyou:list}
			</ul>
			<div class="pageNav">
				<ul>
					{eyou:pagelist listitem="index,end,pre,next" listsize="2"/}
				</ul>
			</div>
		</div>
		<!--mainBox end-->
		<!--footer-s-->
		{eyou:include file="footer.htm" /}
		<!--footer-e-->
	 </div>
 </body>
</html>