<!DOCTYPE HTML>
<html debug="true" lang="zh_tw">
<head>
<meta charset="utf-8">
<title>{$eyou.field.seo_title}</title>
<meta property="og:title" content="{$eyou.field.seo_title}">
<meta property="og:site_name" content="{$eyou.field.seo_title}">
<meta property="og:url" content="{eyou:global name='web_basehost' /}">
<meta property="og:type" content="website">
<meta name="description" content="{$eyou.field.seo_description}">
<meta name="keywords" content="{$eyou.field.seo_keywords}">

<!--CSS-->
<link rel="stylesheet" type="text/css" href="template/pc/css/master.css">
<!--main nav-->
<link rel="stylesheet" type="text/css" href="template/pc/function/bootsnav/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="template/pc/function/bootsnav/css/bootsnav.css">

<link rel="stylesheet" type="text/css" href="template/pc/css/lecture.css">

<!--手機解析度-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--favor icon-->
<link rel="shortcut icon" href="{eyou:global name='web_cmspath' /}/favicon.ico" />

<!--google_font-->
<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">  

<script type="text/javascript" src="template/pc/Scripts/jquery/jquery-2.1.1.min.js"></script>
<!--main nav-->
<script src="template/pc/function/bootsnav/bootsnav.js"></script>

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head> 
 <body>
 	<div class="page_Wrap">
 		<!--header-s-->
 		{eyou:include file="header.htm"/}
 		<!--header-e-->
 		<!--banner-->
 		<div class="banner">
 			<div class="banner_wrap">
 				<div class="inPageTitle">
					<p>Lecture</p>
					<h2>物業講座</h2>
				</div>
			</div>
 		</div>
		<!--banner end-->
		<!--mainBox-->
		<div class="main_wrap">
			<!--bread-->
			<div class="bread">{eyou:position style="crumb" /}</div>
			<!--bread end-->
			<div class="side_menu">
				<ul>
					{eyou:channel type="sonself" currentstyle="active"}
					<li><a href="{$field.typeurl}" title="{$field.typename}" class="{$field.currentstyle}">{$field.typename}</a></li>
					{/eyou:channel}
				</ul>
			</div>
			<div class="lectureInfoList">
				{eyou:list pagesize="10" titlelen="30"}
       			<h3><em><i class="fas fa-plus"></i></em>{$field.title}</h3>
        		<ul>
        			<li class="askBox">
        				<div class="titleBox" data-num="Q">
        					<span>Ask questions</span>
        					<p>{eyou:field aid='$field.aid' addfields='from_ask' /}</p>
        				</div>
        				<div class="questions_content">{eyou:field aid='$field.aid' addfields='questions' /}</div>
					</li>
       				<li class="replyBox">
        				<div class="titleBox" data-num="A">
        					<span>Respondent</span>
        					<p>{eyou:field aid='$field.aid' addfields='respondent' /}</p>
        				</div>
        				<div class="reply_content">{eyou:field aid='$field.aid' addfields='reply_content' /}</div>
        			</li>
        			<li class="provisionsBox">
        				<div class="titleBox" data-num="Legal">
        					<span>Legal provisions</span>
        					<p>法律小講堂</p>
        				</div>
        				<div class="legal_content">
       						<h4>{eyou:field aid='$field.aid' addfields='citation_clause' /}</h4>
       						<div class="legal_article">{eyou:field aid='$field.aid' addfields='quoted_text' /}</div>
						</div>
        			</li>
          		</ul>
          		{/eyou:list}
			</div>
			<div class="pageNav">
				<ul>
					{eyou:pagelist listitem="index,end,pre,next" listsize="2"/}
				</ul>
			</div>
		</div>
		<!--mainBox end-->
		<!--footer-s-->
		{eyou:include file="footer.htm" /}
		<!--footer-e-->
	</div>
<script type="text/javascript" src="template/pc/Scripts/SuperSlide/jquery.SuperSlide.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.lectureInfoList').slide({
			titCell:"h3", 
			targetCell:"ul",
			defaultIndex:1,
			effect:"slideDown",
			delayTime:300,
			trigger:"click"
		});
	});
</script>
</body>
</html>