<!DOCTYPE HTML>
<html debug="true" lang="zh_tw">
<head>
<meta charset="utf-8">
<title>{$eyou.field.seo_title}</title>
<meta property="og:title" content="{$eyou.field.seo_title}">
<meta property="og:site_name" content="{$eyou.field.seo_title}">
<meta property="og:url" content="{eyou:global name='web_basehost' /}">
<meta property="og:type" content="website">
<meta name="description" content="{$eyou.field.seo_description}">
<meta name="keywords" content="{$eyou.field.seo_keywords}">

<!--CSS-->
<link rel="stylesheet" type="text/css" href="template/pc/css/master.css">
<!--main nav-->
<link rel="stylesheet" type="text/css" href="template/pc/function/bootsnav/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="template/pc/function/bootsnav/css/bootsnav.css">

<link rel="stylesheet" type="text/css" href="template/pc/css/search.css">

<!--手機解析度-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--favor icon-->
<link rel="shortcut icon" href="{eyou:global name='web_cmspath' /}/favicon.ico" />

<!--google_font-->
<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">  

<script type="text/javascript" src="template/pc/Scripts/jquery/jquery-2.1.1.min.js"></script>
<!--main nav-->
<script src="template/pc/function/bootsnav/bootsnav.js"></script>

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<body>
	<div class="page_Wrap">
 		<!--header-s-->
 		{eyou:include file="header.htm"/}
 		<!--header-e-->
 		<!--banner-->
 		<div class="banner">
 			<div class="banner_wrap">
 				<div class="inPageTitle">
					<p>Search</p>
					<h2>搜尋結果</h2>
				</div>
			</div>
 		</div>
		<!--banner end-->
		<!--mainBox-->
		<div class="main_wrap">
			<h1 class="searchTitle">{eyou:lang name='sys7' /} <strong>{$eyou.field.keywords}</strong> {eyou:lang name='yybl12' /}</h1>
			<ul class="searchList">
				{eyou:list pagesize="10" titlelen="20"}
				<li>
					<div class="item">
						<div class="dateBox">{$field.add_time|MyDate='Y-m-d',###}</div>
						<div class="searchTitle"><a href="{$field.arcurl}" title="{$field.title}" target="_self">{$field.title}</a></div>
					</div>
					<p class="ellipsis">{$field.seo_description}</p>
				</li>
				{/eyou:list}
			</ul>
			<div class="pageNav">
				<ul>
					{eyou:pagelist listitem="index,end,pre,next" listsize="2"/}
				</ul>
			</div>
		</div>
		<!--mainBox end-->
		<!--footer-s-->
		{eyou:include file="footer.htm" /}
		<!--footer-e-->
	</div>
 </body>
</html>