
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>備份還原</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a href="{:url("Tools/index")}" class="tab {eq name="$Request.action" value="index"}current{/eq}"><span>數據備份</span></a></li>
                <li><a href="{:url("Tools/restore")}" class="tab {if condition="in_array($Request.action, array('restore'))"}current{/if}"><span>數據還原</span></a></li>
            </ul>
        </div>
    </div>