{include file="public/layout" /}
<body style="background-color: #FFF; overflow-y: scroll;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>清除快取</h3>
                <h5></h5>
            </div>
        </div>
    </div>
    <!-- 操作說明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相關設定操作時應注意的要點">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>如果頁面做了修改，建議清除對應的頁面以及模板快取</li>
            <li>清除單個偽靜態頁面快取，請在URL後面加上 ?clear=1 </li>
        </ul>
    </div>
    <form class="form-horizontal" id="cleanCache" method="post">
        <div class="ncap-form-default">
            {eq name="$Think.const.CONTROLLER_NAME.'@clearHtmlCache'|is_check_access" value="1"}
            <dl class="row">
                <dt class="tit">偽靜態頁面</dt>
                <dd class="opt">
                    <ul class="nc-row ncap-waybill-list">
                        <li>
                            <label class="label"><input class="check" type="checkbox" name="clearHtml[]" value="index" checked="checked">首頁(index)</label>
                        </li>
                        <li>
                            <label class="label"><input class="check" type="checkbox" name="clearHtml[]" value="channel" checked="checked">頻道頁(channel)</label>
                        </li>
                        <li>
                            <label class="label"><input class="check" type="checkbox" name="clearHtml[]" value="lists" checked="checked">列表頁(lists)</label>
                        </li>
                        <li>
                            <label class="label"><input class="check" type="checkbox" name="clearHtml[]" value="view" checked="checked">內容頁(view)</label>
                        </li>
                    </ul>
                </dd>
            </dl>
            {/eq}
            {eq name="$Think.const.CONTROLLER_NAME.'@clearSystemCache'|is_check_access" value="1"}
            <dl class="row">
                <dt class="tit">系統快取</dt>
                <dd class="opt">
                    <ul class="nc-row ncap-waybill-list">
                        <li>
                            <label class="label"><input class="check" type="checkbox" name="clearCache[]" value="cache" checked="checked">數據快取(cache)</label>
                        </li>
                        <li>
                            <label class="label"><input class="check" type="checkbox" name="clearCache[]" value="data" checked="checked">專案數據(data)</label>
                        </li>
                        <li>
                            <label class="label"><input class="check" type="checkbox" name="clearCache[]" value="log" checked="checked">訪問日誌(log)</label>
                        </li>
                        <li>
                            <label class="label"><input class="check" type="checkbox" name="clearCache[]" value="temp" checked="checked">臨時數據(temp)</label>
                        </li>
                    </ul>
                </dd>
            </dl>
            {/eq}
            {eq name="'System@clear_cache'|is_check_access" value="1"}
            <dl class="row">
                <dt class="tit"></dt>
                <dd class="opt">
                    <ul class="nc-row ncap-waybill-list">
                        <li>
                            <label class="label"><input type="checkbox" class="check" id="clearAll" name="clearAll" value="clearAll" onclick="$('input[name^=\'clear\']').prop('checked', this.checked);" checked="checked">全選</label>
                        </li>
                    </ul>
                </dd>
            </dl>
            {/eq}
            <div class="bot">
                <input type="hidden" name="seo_inlet" value="0">
                <a href="JavaScript:void(0);" onclick="chk_submit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">確認提交</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    $(function() {
        checkInlet(); // 自動檢測隱藏index.php
        // 自動檢測隱藏index.php
        function checkInlet() {
            layer.open({
                type: 2,
                title: false,
                area: ['0px', '0px'],
                shade: 0.0,
                closeBtn: 0,
                shadeClose: true,
                content: '//{$Request.host}__ROOT_DIR__/api/Rewrite/setInlet.html',
                success: function(layero, index){
                    layer.close(index);
                    var body = layer.getChildFrame('body', index);
                    var content = body.html();
                    if (content.indexOf("Congratulations on passing") == -1)
                    {
                        $.ajax({
                            type : "POST",
                            url  : "__ROOT_DIR__/index.php?m=api&c=Rewrite&a=setInlet",
                            data : {seo_inlet:0},
                            dataType : "JSON",
                            success: function(res) {

                            }
                        }); 
                    }
                }
            });
        }
    });

    function chk_submit()
    {
        if ($('input[name^=clear]:checked').length <= 0) {
            layer.msg('至少選擇一項！', {icon: 2,time: 1000});
            return false;
        }
        layer_loading('正在處理');
        $('#cleanCache').submit();
    }
</script>

{include file="public/footer" /}