{include file="public/layout" /}
<body style="background-color: rgb(255, 255, 255); overflow-y: scroll; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div id="list">
        <div class="fixed-bar">
            <div class="item-title">
                <div class="subject">
                    <h3>地區設定</h3>
                    <h5>可對系統內建的地區進行編輯</h5>
                </div>
            </div>
        </div>
        <!-- 操作說明 -->
        <div id="explanation" class="explanation" style=" width: 99%; height: 100%;">
            <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
                <h4 title="提示相關設定操作時應注意的要點">操作提示</h4>
                <span title="收起提示" id="explanationZoom" style="display: block;"></span>
            </div>
            <ul>
                <li>系統省市縣區鎮基礎數據都在此處設定, 請謹慎操作。</li>
                <li>"所在層級"位該區域所在層級，如省層級為1，市層級為2，區縣層級為3 鄉鎮層級為4</li>
            </ul>
        </div>
        <div class="flexigrid">
            <div class="mDiv">
                <div class="ftitle">
                    <h3>地區列表</h3>
                    <h5>(共{$region|count}張記錄)</h5>
                </div>
                <div title="重新整理數據" class="pReload"><i class="fa fa-refresh"></i></div>
                {notempty name="parent_path"}<div title="上級區域" class="pReload">上級區域:{$parent_path}</div>{/notempty}
            </div>
            <div class="hDiv">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="sign" axis="col0">
                                <div style="width: 24px;">
                                    <i class="ico-check"></i>
                                </div>
                            </th>
                            <th axis="col1" class="handle" align="center">
                                <div style="text-align: center; width: 150px;">操作</div>
                            </th>
                            <th axis="col2" class="" align="left">
                                <div style="text-align: left; width: 200px;">地區</div>
                            </th>
                            <th axis="col4" class="" align="left">
                                <div style="text-align: left; width: 100px;">所在層級</div>
                            </th>
                            <th axis="col5" class="" align="center">
                                <div style="text-align: center; width: 140px;">上級地區ID</div>
                            </th>
                            <th style="width:100%" axis="col6"><div></div></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tDiv">
                <div class="tDiv2">
                    {eq name="$Think.const.CONTROLLER_NAME.'@region_add'|is_check_access" value="1"}
                    <div class="fbutton">
                        <div class="add" title="新增數據">
                            <span onclick="add_region(1);"><i class="fa fa-plus"></i>新增數據</span>
                        </div>
                    </div>
                    {/eq}
                    <div class="fbutton">
                        <div class="up" title="返回上級地區">
                            <span onclick="return_top_level();"><i class="fa fa-level-up"></i>返回上級地區</span>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="bDiv" style="height: auto;">
                <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                    <table>
                        <tbody>
                        {foreach name="region" item="vo" key="k" }
                            <tr id="row130" data-id="130" class="">
                                <td class="sign">
                                    <div style="width: 24px;"><i class="ico-check"></i></div>
                                </td>
                                <td class="handle" align="center">
                                    <div style="text-align: center; width: 150px;">
                                        {eq name="$Think.const.CONTROLLER_NAME.'@region_del'|is_check_access" value="1"}
                                        <a class="btn red" data-url="{:U('System/region_del',array('id'=>$vo['id']))}"  onclick="delRegion(this);"><i class="fa fa-trash-o"></i>刪除</a>
                                        {/eq}
                                        <span class="btn"><em><i class="fa fa-cog"></i>設定 <i class="arrow"></i></em><ul>
                                        {eq name="$Think.const.CONTROLLER_NAME.'@region_add'|is_check_access" value="1"}
                                        <li><a href="{:U('System/region',array('op'=>'add','parent_id'=>$vo['id']))}">新增下級</a></li>
                                        {/eq}
                                        <li><a href="{:U('System/region',array('parent_id'=>$vo['id']))}">檢視下級</a></li>
                                    </ul></span></div>
                                </td>
                                <td class="" align="left">
                                    <div style="text-align: left; width: 200px;">{$vo.name}</div>
                                </td>
                                <td class="" align="left">
                                    <div style="text-align: left; width: 100px;">{$vo.level}</div>
                                </td>
                                <td class="" align="center">
                                    <div style="text-align: center; width: 140px;">{$vo.parent_id}</div>
                                </td>
                                <td class="" style="width: 100%;" align="">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <div class="iDiv" style="display: none;"></div>
            </div>
            <!--分頁位置-->
        </div>
    </div>
    {eq name="$Think.const.CONTROLLER_NAME.'@region_add'|is_check_access" value="1"}
    <div id="add_region" style="display: none">
        <div class="page">
            <div class="fixed-bar">
                <div class="item-title"><a class="back" onclick="add_region(0);" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
                    <div class="subject">
                        <h3>地區設定 - 新增</h3>
                        <h5>地區新增與編輯</h5>
                    </div>
                </div>
            </div>
            <form id="add_region_form" method="post" action="{:U('System/region_add')}">
                <input type="hidden" name="level" value="{$parent.level}">
                <input type="hidden" name="parent_id" value="{$parent.id}">
                <div class="ncap-form-default">
                    {notempty name="parent_path"}
                        <dl class="row">
                            <dt class="tit">
                                <label for="name"><em></em>上級區域:</label>
                            </dt>
                            <dd class="opt"><label for="name">{$parent_path}</label></dd>
                        </dl>
                    {/notempty}
                    <dl class="row">
                        <dt class="tit">
                            <label for="name"><em>*</em>地區名</label>
                        </dt>
                        <dd class="opt">
                            <input id="name" name="name" value="" maxlength="20" class="input-txt" type="text">
                            <span class="err"></span>
                            <p class="notic">請認真填寫地區名稱，地區設定后將直接影響訂單、收貨地址等重要資訊，請謹慎操作。</p>
                        </dd>
                    </dl>
                    <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="$('#add_region_form').submit();">確認提交</a></div>
                </div>
            </form>
        </div>
    </div>
    {/eq}
</div>
<script>
    {if condition="$Request.param.op eq 'add'"}
        add_region(1);
    {/if}

    $(document).ready(function(){
        // 表格行點選選中切換
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 點選重新整理數據
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

    });

    function add_region(mode){
        if(mode == 1){
            $('#add_region').show();
            $('#list').hide();
        }else{
            $('#add_region').hide();
            $('#list').show();
        }
    }

    function return_top_level()
    {
        window.location.href = "{:U('System/region',array('parent_id'=>$parent['parent_id']))}";
    }

    function delRegion(obj){
        layer.confirm('確定刪除此地區？', {icon: 3, title:false}, function(index){
            layer.close(index);
            window.location.href = $(obj).attr('data-url');
        });
    }
</script>

{include file="public/footer" /}