{include file="public/layout" /}
<body style="background-color: #FFF; overflow-y: scroll;min-width:auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<style>
    .span_1 {
        float: left;
        margin-left: 0px;
        height: 130px;
        line-height: 130px;
    }

    .span_1 ul {
        list-style: none;
        padding: 0px;
    }

    .span_1 ul li {
        border: 1px solid #CCC;
        height: 40px;
        padding: 0px 10px;
        margin-left: -1px;
        margin-top: -1px;
        line-height: 40px;
    }
    #thumb_color {
        /*margin:0;*/
        /*padding:0;*/
        border:solid 1px #ccc;
        width:70px;
        height:20px;
        border-right:40px solid green;
        /*line-height:20px;*/
    }
</style>
<script type="text/javascript" src="__PUBLIC__/plugins/colpick/js/colpick.js"></script>
<link href="__PUBLIC__/plugins/colpick/css/colpick.css" rel="stylesheet" type="text/css"/>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width:auto;">
    {include file="system/bar" /}
    <div class="flexigrid">
        {if condition="-1 != $Request.param.tabase"}
        <div class="mDiv">
            <div class="ftitle">
                <h3>縮圖配置</h3>
            </div>
            <div title="重新整理數據" class="pReload"><i class="fa fa-refresh"></i></div>
            <div class="sDiv">
                <div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
                    <input type="button" class="btn" value="縮圖配置" onclick="window.location.href='{:url("System/thumb", ['tabase'=>$Request.param.tabase])}';">
                </div>
            </div>
            <div class="sDiv">
                <div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
                    <input type="button" class="btn current" value="水印配置" onclick="window.location.href='{:url("System/water", ['tabase'=>$Request.param.tabase])}';">
                </div>
            </div>
        </div>
        {/if}
        <form class="form-horizontal" method="post" id="handlepost" action="{:url('System/thumb')}">
            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit">縮圖功能</dt>
                    <dd class="opt">
                        <div class="onoff">
                            <label for="thumb_open1" class="cb-enable {if condition='isset($config.thumb_open) && $config.thumb_open eq 1'}selected{/if}" >開啟</label>
                            <label for="thumb_open0" class="cb-disable {if condition='!isset($config.thumb_open) || $config.thumb_open eq 0'}selected{/if}" >關閉</label>
                            <input id="thumb_open1" name="thumb_open" onclick="setthumb(this);" value="1" {if condition="isset($config.thumb_open) && $config.thumb_open eq 1"}checked{/if} type="radio">
                            <input id="thumb_open0" name="thumb_open" onclick="setthumb(this);" value="0" {if condition="!isset($config.thumb_open) || $config.thumb_open eq 0"}checked{/if} type="radio">
                        </div>
                        <p class="notic">全站圖片進行縮圖處理</p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label>產生方式</label>
                    </dt>
                    <dd class="opt">
                        <label><input type="radio" name="thumb_mode" value="1" {if condition="isset($config.thumb_mode) AND $config.thumb_mode eq 1"}checked="checked"{/if}>拉伸</label>&nbsp;
                        <br/>
                        <label><input type="radio" name="thumb_mode" value="2" {if condition="!isset($config.thumb_mode) OR $config.thumb_mode eq 2"}checked="checked"{/if}>留白</label>&nbsp;
                        <br/>
                        <label><input type="radio" name="thumb_mode" value="3" {if condition="isset($config.thumb_mode) AND $config.thumb_mode eq 3"}checked="checked"{/if}>截減</label>&nbsp;
                        <span class="err"></span>
                        <p class="notic"></p>
                    </dd>
                </dl>
                <dl class="row thumb_mode_2" style="display:none;">
                    <dt class="tit">
                        <label for="thumb_color">填充顏色</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="thumb_color" value="{$config.thumb_color|default='#FFFFFF'}" id="thumb_color" style="border-color: {$config.thumb_color|default='#FFFFFF'};" />
                        <p class="notic"></p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="title">縮圖大小</label>
                    </dt>
                    <dd class="opt">
                        <input name="thumb_width" id="thumb_width" value="{$config.thumb_width}" type="text" style="width: 50px;" /> X <input name="thumb_height" id="thumb_height" value="{$config.thumb_height}" type="text" style="width: 50px;" /> (寬 X 高) (畫素)
                        <p class="notic"></p>
                    </dd>
                </dl>
                <div class="bot">
                    <input type="hidden" name="tabase" value="{$Request.param.tabase}">
                    <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="adsubmit();">確認提交</a>
                    &nbsp;&nbsp;<a href="javascript:void(0);" onclick="tag_call('thumb_open');">縮圖標籤高級呼叫？</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        // 點選重新整理數據
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

        setthumb('auto'); // 關閉狀態下禁用表單錄入

        // 顏色選擇
        $('#thumb_color').colpick({
            flat:false,
            layout:'rgbhex',
            submit:0,
            colorScheme:'light',
            color:$('#thumb_color').val(),
            onChange:function(hsb,hex,rgb,el,bySetColor) {
                $(el).css('border-color','#'+hex);
                // Fill the text box just if the color was set using the picker, and not the colpickSetColor function.
                if(!bySetColor) $(el).val('#'+hex);
            }
        }).keyup(function(){
            $(this).colpickSetColor('#'+this.value);
        });
    });

    function adsubmit(){
        layer_loading('正在處理');
        $('#handlepost').submit();
    }

    function setthumb(obj){
        if ('auto' == obj) {
            $('input[name="thumb_mode"]').attr('disabled', true);
            $('input[name="thumb_width"]').attr('disabled', true);
            $('input[name="thumb_height"]').attr('disabled', true);
            $('input[name="thumb_color"]').attr('disabled', true);
            var thumb_open = $('input[name="thumb_open"]:checked').val();
            if (1 == thumb_open) {
                $('input[name="thumb_mode"]').attr('disabled', false);
                $('input[name="thumb_width"]').attr('disabled', false);
                $('input[name="thumb_height"]').attr('disabled', false);
                $('input[name="thumb_color"]').attr('disabled', false);
            }
        } else {
            var thumb_open = $(obj).val();
            if (1 == thumb_open) {
                $('input[name="thumb_mode"]').attr('disabled', false);
                $('input[name="thumb_width"]').attr('disabled', false);
                $('input[name="thumb_height"]').attr('disabled', false);
                $('input[name="thumb_color"]').attr('disabled', false);
            } else {
                $('input[name="thumb_mode"]').attr('disabled', true);
                $('input[name="thumb_width"]').attr('disabled', true);
                $('input[name="thumb_height"]').attr('disabled', true);
                $('input[name="thumb_color"]').attr('disabled', true);
            } 
        }
    }

    function tag_call(name)
    {
        $.ajax({
            type: "POST",
            url: "{:url('System/ajax_tag_call')}",
            data: {name:name},
            dataType: 'json',
            success: function (res) {
                if(res.code == 1){
                    //詢問框
                    var confirm = layer.confirm(res.data.msg, {
                            title: false,
                            area: ['70%','80%'],
                            btn: ['關閉'] //按鈕

                        }, function(){
                            layer.close(confirm);
                        }
                    );  
                }else{
                    layer.alert(res.msg, {icon: 2, title:false});
                }
            },
            error:function(){
                layer.alert('網路失敗，請重新整理頁面後重試', {icon: 2, title:false});
            }
        });
    }
</script>

{include file="public/footer" /}