{include file="public/layout" /}
<body style="background-color: #FFF; overflow-y: scroll;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    {include file="system/bar" /}
    <form method="post" id="handlepost" action="{:U('System/web2')}" enctype="multipart/form-data" name="form1">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">系統模式</dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="web_cmsmode2" class="cb-enable {if condition="!isset($config.web_cmsmode) || $config.web_cmsmode eq 2"}selected{/if}" >開發模式</label>
                        <label for="web_cmsmode1" class="cb-disable {if condition="isset($config.web_cmsmode) && $config.web_cmsmode eq 1"}selected{/if}" >運營模式</label>
                        <input id="web_cmsmode2" onClick="set_cmsmode(2)" name="web_cmsmode" value="2" {if condition="!isset($config.web_cmsmode) || $config.web_cmsmode eq 2"}checked{/if} type="radio">
                        <input id="web_cmsmode1" onClick="set_cmsmode(1)" name="web_cmsmode"  value="1" {if condition="isset($config.web_cmsmode) && $config.web_cmsmode eq 1"}checked{/if} type="radio">
                    </div>
                    <br/>
                    <p class="">開發模式：方便修改模板，及時預覽前臺效果，沒快取，一改便生效。<br/>運營模式：提高前臺響應速度，利於收錄；改模板及後臺發佈內容需執行【<a href="{:U('System/clear_cache')}">更新快取</a>】后才能在前臺展示。</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">升級彈窗提醒</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="web_show_popup_upgrade1" class="cb-enable {if condition='!isset($config.web_show_popup_upgrade) || $config.web_show_popup_upgrade eq 1'}selected{/if}">開啟</label>
                        <label for="web_show_popup_upgrade0" class="cb-disable {if condition='isset($config.web_show_popup_upgrade) && $config.web_show_popup_upgrade eq -1'}selected{/if}">關閉</label>
                        <input id="web_show_popup_upgrade1" name="web_show_popup_upgrade" value="1" type="radio" {if condition="!isset($config.web_show_popup_upgrade) || $config.web_show_popup_upgrade eq 1"} checked="checked"{/if}>
                        <input id="web_show_popup_upgrade0" name="web_show_popup_upgrade" value="-1" type="radio" {if condition="isset($config.web_show_popup_upgrade) && $config.web_show_popup_upgrade eq -1"} checked="checked"{/if}>
                    </div>
                    <p class="notic">開啟之後，第一時間收到系統更新提醒</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">強制啟用https</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="web_is_https1" class="cb-enable {if condition='isset($config.web_is_https) && $config.web_is_https eq 1'}selected{/if}">開啟</label>
                        <label for="web_is_https0" class="cb-disable {if condition='empty($config.web_is_https)'}selected{/if}">關閉</label>
                        <input id="web_is_https1" name="web_is_https" value="1" type="radio" {if condition="isset($config.web_is_https) && $config.web_is_https eq 1"} checked="checked"{/if}>
                        <input id="web_is_https0" name="web_is_https" value="0" type="radio" {if condition="empty($config.web_is_https)"} checked="checked"{/if}>
                    </div>
                    <p class="notic">開啟之後，sitemap.xml地圖以及全站URL將帶有https頭協議</p>
                    <p class="">開啟前，請先在空間正確配置SSL證書。<br/>在能正常訪問https://域名的情況下，才開啟這個功能，使整站的URL都強制採用https協議訪問。</p>
                </dd>
            </dl>
            <dl class="row none">
                <dt class="tit">
                    <label for="web_cmspath">系統安裝目錄</label>
                </dt>
                <dd class="opt">
                    <input id="web_cmspath" name="web_cmspath" value="{$config.web_cmspath|default=''}" class="input-txt" type="text" />
                    <p class="notic">目錄後面不要帶 / 反斜桿，一般適用於EyouCms安裝在子目錄</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="adminbasefile">新後臺地址</label>
                </dt>
                <dd class="opt">
                    __SITE_URL____ROOT_DIR__/<input type="hidden" name="adminbasefile_old" value="{$adminbasefile|default='login'}"><input id="adminbasefile" name="adminbasefile" value="{$adminbasefile|default='login'}" type="text" data-site_url="__SITE_URL__" onKeyUp="this.value=this.value.replace(/[^0-9a-zA-Z_-]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9a-zA-Z_-]/g,''));" style="width: 80px;" />.php
                    <p class="notic">爲了提高後臺的安全性，請及時更改後臺入口檔案。</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="web_sqldatapath">數據庫備份目錄</label>
                </dt>
                <dd class="opt">
                    __ROOT_DIR__<input id="web_sqldatapath" name="web_sqldatapath" value="{$config.web_sqldatapath|default=$sqlbackuppath}" class="input-txt" type="text" />
                    <p class="notic"></p>
                </dd>
            </dl>
<!--             <dl class="row">
                <dt class="tit">
                    <label for="site_url">啟用絕對網址</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="web_multi_site1" class="cb-enable {if condition='isset($config.web_multi_site) AND $config.web_multi_site eq 1'}selected{/if}">是</label>
                        <label for="web_multi_site0" class="cb-disable {if condition='!isset($config.web_multi_site) OR empty($config.web_multi_site)'}selected{/if}">否</label>
                        <input id="web_multi_site1" name="web_multi_site" value="1" type="radio" {if condition="isset($config.web_multi_site) AND $config.web_multi_site eq 1"} checked="checked"{/if}>
                        <input id="web_multi_site0" name="web_multi_site" value="0" type="radio" {if condition="!isset($config.web_multi_site) OR empty($config.web_multi_site)"} checked="checked"{/if}>
                    </div>
                    <p class="notic">啟用絕對網址，開啟此項后附件、欄目連線、arclist內容等都使用http路徑</p>
                </dd>
            </dl> -->
            <div class="bot">
                <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onClick="adsubmit();">確認提交</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function adsubmit(){
        var adminbasefileObj = $('input[name=adminbasefile]');
        var adminbasefile_oldObj = $('input[name=adminbasefile_old]');
        if($.trim(adminbasefileObj.val()) == ''){
            showErrorMsg('新後臺地址不能為空！');
            adminbasefileObj.focus();
            return false;
        }
        if(adminbasefile_oldObj.val() != adminbasefileObj.val()){
            var flag = false;
            var site_url = adminbasefileObj.data('site_url');
            layer.confirm('新後臺地址：<font color="red">'+site_url+'__ROOT_DIR__/'+adminbasefileObj.val()+'.php</font>，確認更改？', {
                    title: false,
                    btn: ['繼續更改','取消'] //按鈕
                }, function(){
                    layer_loading('正在處理');
                    $('#handlepost').submit();
                }, function(index){
                    flag = false;
                }
            );
            return flag;
        }
        layer_loading('正在處理');
        $('#handlepost').submit();
    }

    function set_cmsmode(type){
        if(1 == type){
            $('#dl_web_htmlcache_expires_in').show();
        }else{
            $('#dl_web_htmlcache_expires_in').hide();
        }
    }

    function tag_call(name)
    {
        $.ajax({
            type: "POST",
            url: "{:url('System/ajax_tag_call')}",
            data: {name:name},
            dataType: 'json',
            success: function (res) {
                if(res.code == 1){
                    //詢問框
                    var confirm = layer.confirm(res.data.msg, {
                            title: false,
                            area: ['60%','80%'],
                            btn: ['關閉'] //按鈕

                        }, function(){
                            layer.close(confirm);
                        }
                    );  
                }else{
                    layer.alert(res.msg, {icon: 2, title:false});
                }
            },
            error:function(){
                layer.alert('網路失敗，請重新整理頁面後重試', {icon: 2, title:false});
            }
        });
    }
</script>

{include file="public/footer" /}