{include file="public/layout" /}
<body style="background-color: #FFF; overflow: auto; min-width: auto;">
<form id="productimg_form" name="productimg_form" class="form-horizontal" action="" method="post">
    <input type="hidden" name="id" value="{$field.id}">
    <div class="ncap-form-default">
        <dl class="row">
            <dt class="tit">
                <label for="title"><em>*</em>標題</label>
            </dt>
            <dd class="opt">
                <input type="text" name="title" value="{$field.title}" id="title" class="input-txt">
                <span class="err"></span>
                <p class="notic"></p>
            </dd>
        </dl>
        <div class="bot">
            <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" id="submitBtn">確認提交</a>
            &nbsp;
            <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-red" id="closeBtn">關閉</a>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
     
        $('#submitBtn').click(function(){
            $('#productimg_form').submit();
        });

        $('#closeBtn').click(function(){
            window.parent.layer.closeAll();
        });
        
        $("#productimg_form").validate({
            debug: false, //除錯模式取消submit的預設提交功能   
            focusInvalid: false, //當爲false時，驗證無效時，沒有焦點響應  
            onkeyup: false,   
            submitHandler: function(form){   //表單提交控制代碼,為一回調函式，帶一個參數：form   
                $.ajax({
                    url:"{:U('Product/ajax_edit_productimg')}",
                    type:'post',
                    dataType:'json',
                    data: $("#productimg_form").serialize(),
                    success:function(data){
                        if(data.status !=1){
                            layer.alert(data.msg, {icon: 2, title:false});
                        }else{
                            layer.alert(data.msg, {icon: 1, title:false}, function(){
                                window.parent.layer.closeAll();
                            });
                        }  
                    }
                });
            },  
            ignore:":button",   //不驗證的元素
            rules:{
                title:{
                    required:true
                }
            },
            messages:{
                title:{
                    required:"標題不能為空"
                }
            }
        });
        
    });
</script>

{include file="public/footer" /}