<footer>
	<section class="seo_wrap">
		<div class="container">
			<h3>{eyou:global name='web_attr_9' /}</h3>
		</div>
	</section>
	<section class="footer_info">
		<div class="container">
			<div class="logo"><a title="{eyou:global name="web_name" /}" href="{eyou:global name='web_cmsurl' /}/"><img src="{eyou:global name='web_attr_11' /}" /></a></div>
			<div class="info">
				<p>Mail：<a href="mailto:{eyou:global name='web_attr_1' /}">{eyou:global name='web_attr_1' /}</a></p>
				<p>Tel：{eyou:global name='web_attr_2' /}</p>
				<p>Add：{eyou:global name='web_attr_13' /}</p>
				<p>Line:{eyou:global name='web_attr_3' /}</p>
				<p>FB：<a href="{eyou:global name='web_attr_17' /}" target="_blank">{eyou:global name='web_attr_15' /}</a></p>
			</div>
			<ul class="sub_menu">
				{eyou:uichannel e-id="301" typeid="72" e-page="footer"}
				{eyou:type id="field"}
				<li><a href="{$field.typeurl}" target="_self" title="{$field.typename}">{$field.typename}</a></li>
				{/eyou:type}
				{/eyou:uichannel}
				{eyou:uichannel e-id="301" typeid="4" e-page="footer"}
				{eyou:type id="field"}
				<li><a href="{$field.typeurl}" target="_self" title="{$field.typename}">{$field.typename}</a></li>
				{/eyou:type}
				{/eyou:uichannel}
				{eyou:uichannel e-id="301" typeid="54" e-page="footer"}
				{eyou:type id="field"}
				<li><a href="{$field.typeurl}" target="_self" title="{$field.typename}">{$field.typename}</a></li>
				{/eyou:type}
				{/eyou:uichannel}
				{eyou:uichannel e-id="301" typeid="56" e-page="footer"}
				{eyou:type id="field"}
				<li><a href="{$field.typeurl}" target="_self" title="{$field.typename}">{$field.typename}</a></li>
				{/eyou:type}
				{/eyou:uichannel}
				{eyou:uichannel e-id="301" typeid="2" e-page="footer"}
				{eyou:type id="field"}
				<li><a href="{$field.typeurl}" target="_self" title="{$field.typename}">{$field.typename}</a></li>
				{/eyou:type}
				{/eyou:uichannel}
				{eyou:uichannel e-id="301" typeid="6" e-page="footer"}
				{eyou:type id="field"}
				<li><a href="{$field.typeurl}" target="_self" title="{$field.typename}">{$field.typename}</a></li>
				{/eyou:type}
				{/eyou:uichannel}
			</ul>
			<div class="QR_code"><img src="{eyou:global name='web_attr_4' /}" alt="掃描QR-Code 加入好友"/></div>
		</div>
	</section>
	<section class="copyRight">
		<div class="container">
			<p>{eyou:global name='web_attr_19' /}</p>
		</div>
	</section>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3205223-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-3205223-8');
</script>
