<!DOCTYPE HTML>
<html debug="true" lang="zh_tw">
<head>
<meta charset="utf-8">
<title>{eyou:global name='web_title' /}</title>
<meta property="og:title" content="{eyou:global name='web_title' /}">
<meta property="og:site_name" content="{eyou:global name='web_title' /}">
<meta property="og:url" content="{eyou:global name='web_basehost' /}">
<meta property="og:type" content="website">
<meta name="description" content="{eyou:global name='web_description' /}">
<meta name="keywords" content="{eyou:global name='web_keywords' /}">

<!--fakeLoader-->
<link rel="stylesheet" type="text/css" href="template/pc/Scripts/fakeLoader/css/fakeLoader.min.css">

<!--CSS-->
<link rel="stylesheet" type="text/css" href="template/pc/css/master.css">

<link rel="stylesheet" type="text/css" href="template/pc/css/home.css">

<!--手機解析度-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--favor icon-->
<link rel="shortcut icon" href="{eyou:global name='web_cmspath' /}/favicon.ico" />

<!--google_font-->
<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">  

<script type="text/javascript" src="template/pc/Scripts/jquery/jquery-1.11.0.min.js"></script>

<!--main nav-->
<link rel="stylesheet" type="text/css" href="template/pc/Scripts/bootsnav/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="template/pc/Scripts/bootsnav/css/bootsnav.css">
<script src="template/pc/Scripts/bootsnav/bootstrap.min.js"></script>
<script src="template/pc/Scripts/bootsnav/bootsnav.js"></script>

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
	<div class="page_wrap">
		<!--header-s-->
		{eyou:include file="header.htm" /}
		<!--header-e-->
		<!--banner-->
		<div class="banner_wrap">
			<div class="flexslider">
				<ul class="slides">
					{eyou:adv pid='1' currentstyle='active'}
					<li>
						<h3>{$field.title}</h3>
						<a href="{$field.links}" {$field.target}><img src="{$field.litpic}" /></a>
					</li>
					{/eyou:adv}
				</ul>
			</div>
		</div>
		<!--banner end-->
		<!--main block-->
		<div class="main_wrap">
			<!--template-->
			<section class="template_wrap">
				{eyou:channelartlist typeid='3'}
				<ul>
					 {eyou:arclist row='15' titlelen='20' infolen='22'}
           			 <li>
           			 	<a href="#" href="{$field.arcurl}" title="{$field.title}">
           			 		<h3>{$field.title}</h3>
           			 		<p class="tag">{eyou:field aid='$field.aid' addfields='seo_tab' /}</p>
           			 		<img alt="{$field.title}" src="{$field.litpic}" />
						</a>
         			 </li>
         			 {/eyou:arclist}
				</ul>
				{/eyou:channelartlist}
			</section>
			<!--template end-->
			<!--service-->
			<section class="service_wrap">
				<div class="wrap">
					<h2>SERVICE</h2>
					<p>WHAT CAN WE DO</p>
					<ul class="service_list">
						<li>
							<u></u>
							<i class="fas fa-chalkboard"></i>
							<h4>RWD WEB DESIGN</h4>
							<p>定制式響應式網站</p>
						</li>
						<li>
							<u></u>
							<i class="fas fa-shopping-cart"></i>
							<h4>ON-LINE SHOP</h4>
							<p>線上購物平台</p>
						</li>
						<li>
							<u></u>
							<i class="far fa-clone"></i>
							<h4>DIY WEB PROGRAM</h4>
							<p>套版式模組架站系統</p>
						</li>
						<li>
							<u></u>
							<i class="far fa-hdd"></i>
							<h4>COMPUTER DESIGN</h4>
							<p>平面印刷設計</p>
						</li>
						<li>
							<u></u>
							<i class="fas fa-paper-plane"></i>
							<h4>VI/CI DESIGN</h4>
							<p>企業形象規劃</p>
						</li>
					</ul>
					<p class="small-txt">One-stop internet service.</p>
				</div>
			</section>
			<!--service end-->
			<!--about-->
			<section class="about_wrap">
				<div class="wrap">
					<div class="tab hd">
						<ul>
							<li><span>ABOUT</span></li>
							<li><span>SPECT</span></li>
							<li><span>SPECIAL</span></li>
						</ul>
					</div>
					<div class="tabContent bd">
						<ul>
							<li>
								<h3>我們是之間設計</h3>
								<p>我們始終相信：創造力才是進步的原動力…<br>之間視覺設計工作室 是由一群熱愛設計的年輕人組成<br>我們堅持依照每個客戶的商業發展目標與需求，去規劃出最佳的設計方案<br>努力創造『最大價值化』的作品，幫助客戶從同行中脫穎而出。<br>成功 來自完美細節的累積 傑出 源自我們對設計的堅持<br><br>我們希望，每一秒鐘 都能創造更多的可能性</p>
							</li>
						</ul>
						<ul>
							<li>
								<h3>我們不滿足自己的成績 更加在乎您的成功</h3>
								<p>與其自賣自誇 我們更加相信 做好案子之後的口耳相傳<br>之間設計想做的 不僅只是服務好每一位客戶，<br>更加重視您的品牌發展與信譽。<br>不只是為您想好下一步，而是站在您的角度，為您設想更多。<br>用話術去解決客戶 不難。<br>用心去規劃好每一個案子，感動每一個客戶，才是真功夫。<br>我們相信 用心對待 絕對能換來最好的成績<br>創造更多雙贏的可能性。</p>
							</li>
						</ul>
						<ul>
							<li>
								<h3>我們堅持 做好案子 而不是做完案子</h3>
								<p>好的設計 不是用趕的 就能做的出來的<br>如果你想要快速的做完您的需求，<br>我們可能不適合你。<br>之間設計堅持 每一個案子都必需是經得起時間的考驗的<br>不論多久，再回頭來看，也依然是一個好的作品<br>我們希望我們經手過的每一個案子 都是可以讓我們驕傲
提出來的證明<br>因此 用心去思考 努力在每一個可能之間 尋找更多的創新<br>就如同好酒一般 需要時間去孕釀<br>才能粹取餘韻不絕的香醇</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="countArea">
					<ul>
						<li>
							<div class="count"><b class="num-year">0</b>年</div>
							<p>設計經驗</p>
						</li>
						<li>
							<div class="count"><b class="num-people">7</b>位</div>
							<p>工作夥伴</p>
						</li>
						<li>
							<div class="count"><b class="num-program" data-end="6">0</b>大</div>
							<p>設計方案</p>
						</li>
						<li>
							<div class="count"><b class="num-web" data-end="133">0</b>+</div>
							<p>網頁作品</p>
						</li>
						<li>
							<div class="count"><b class="num-case" data-end="514">0</b>+</div>
							<p>設計作品</p>
						</li>
					</ul>
				</div>
			</section>
			<!--about end-->
			<!--news-->
			<div class="news_wrap">
				<h2>NEWS</h2>
				<p>ONE & ONE News</p>
				<div class="news_list">
					<div class="news_box">
						<div class="hd">
							<a class="prev"><i class="fas fa-angle-left"></i></a>
							<a class="next"><i class="fas fa-angle-right"></i></a>
						</div>
						<div class="bd">
							<ul>
								{eyou:uiarclist e-id='203' typeid='2' e-page="index"}
           						{eyou:type empty='默认值'}
           						{eyou:arclist row='4' titlelen='30' infolen='160'}
           						<li>
           							<div class="news_txt">
										<h4><a href="{$field.arcurl}" title="{$field.title}"> {$field.title} </a></h4>
										<p class="ellipsis">{eyou:field aid='$field.aid' addfields='txt_description' /}</p>
									</div>
									<div class="news_day">
										<span class="md">{$field.add_time|MyDate='m-d',###}</span>
										<span class="year">{$field.add_time|MyDate='Y',###}</span>
									</div>
           						</li>
           						{/eyou:arclist} 
           						{/eyou:type}
           						{/eyou:uiarclist}
							</ul>
						</div>
					</div>
				</div>
				<div class="more">
					<a href="#">MORE</a>
				</div>
			</div>
			<!--news end-->
			<section class="html_item">
				<ul>
					<li><img src="template/pc/images/icon-html5.png" alt="使用HTML5語法架站"/></li>
					<li><img src="template/pc/images/icon-css3.png" alt="使用CSS3語法"/></li>
					<li><img src="template/pc/images/icon-jquery.png" alt="使用jquery效果"/></li>
					<li><img src="template/pc/images/icon-rwd.png" alt="網站全部響應式建構"/></li>
					<li><img src="template/pc/images/icon-w3c.png" alt="符合W3C規範"/></li>
				</ul>				
			</section>
		</div>
		<!--main block end-->
		<!--footer-s--> 
		{eyou:include file="footer.htm" /} 
		<!--footer-e--> 
	</div>
	<script type="text/javascript" src="template/pc/Scripts/fakeLoader/fakeLoader.min.js"></script>
	<div class="fakeLoader"></div>
	<script>
    	$(document).ready(function () {
        	$.fakeLoader({
				timeToHide:1200,
				zIndex:999,
            	bgColor: '#e74c3c',
                spinner: 'spinner2',
				imagePath:"yourPath/customizedImage.gif"
            });
        });
    </script>
    <link rel="stylesheet prefetch" href="template/pc/function/FlexSlider/css/flexslider.css">
    <script type="text/javascript" src="template/pc/function/FlexSlider/jquery.flexslider.js"></script>
    <script type="text/javascript">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
	</script>
	<script type="text/javascript" src="template/pc/function/animateNumbers/jquery.animateNumbers.js"></script>
	<script type="text/javascript">
		
	</script>
	<script type="text/javascript" src="template/pc/function/SuperSlide/jquery.SuperSlide.min.js"></script>
	<script type="text/javascript">
		$(function(){
			jQuery(".about_wrap .wrap").slide({
				effect:"left",
				autoPlay:true,
				trigger:"click",
				delayTime:1000
			});
			jQuery(".news_list").slide({
				titCell:".hd ul",
				mainCell:".bd ul",
				autoPage:true,
				effect:"left",
				autoPlay:true,
				pnLoop:false
			});
		});
	</script>
	<script type="text/javascript" src="template/pc/Scripts/jquery.dotdotdot-1.5.3.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.ellipsis').dotdotdot({
				wrap: 'letter',
			 	remove: [ ' ', ',', ';', '.', '!', '?' ]
			});
		});
	</script>
</body>
</html>