<!DOCTYPE HTML>
<html debug="true" lang="zh_tw">
<head>
<meta charset="utf-8">
<title>{$eyou.field.seo_title}</title>
<meta property="og:title" content="{$eyou.field.seo_title}">
<meta property="og:site_name" content="{$eyou.field.seo_title}">
<meta property="og:url" content="{eyou:global name='web_basehost' /}">
<meta property="og:type" content="website">
<meta name="description" content="{$eyou.field.seo_description}">
<meta name="keywords" content="{$eyou.field.seo_keywords}">

<!--fakeLoader-->
<link rel="stylesheet" type="text/css" href="template/pc/Scripts/fakeLoader/css/fakeLoader.min.css">

<!--CSS-->
<link rel="stylesheet" type="text/css" href="template/pc/css/master.css">

<link rel="stylesheet" type="text/css" href="template/pc/css/template.css">

<!--手機解析度-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--favor icon-->
<link rel="shortcut icon" href="{eyou:global name='web_cmspath' /}/favicon.ico" />

<!--google_font-->
<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">  

<script type="text/javascript" src="template/pc/Scripts/jquery/jquery-1.11.0.min.js"></script>

<!--main nav-->
<link rel="stylesheet" type="text/css" href="template/pc/Scripts/bootsnav/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="template/pc/Scripts/bootsnav/css/bootsnav.css">
<script src="template/pc/Scripts/bootsnav/bootstrap.min.js"></script>
<script src="template/pc/Scripts/bootsnav/bootsnav.js"></script>

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body> 
	<div class="page_wrap">
		<!--header-s-->
		{eyou:include file="header.htm" /}
		<!--header-e-->
		<!--banner-->
		<div class="banner_wrap">
			<div class="container">
				<h1>{$eyou.field.typename}</h1>
				<p>超過200家企業佼佼者優先選擇O2企業架站系統</p>
			</div>
		</div>
		<!--banner end-->
		<!--main block-->
		<div class="side_menu">
			<ul>
				<li><a href="{$eyou.field.ptypeurl}" title="{eyou:lang name='yybl2' /}" {eyou:gt name="$eyou.field.has_children" value="0"}class="active"{/eyou:gt}>{eyou:lang name='yybl2' /}</a></li>
				{eyou:channel type="first" currentstyle="active" id="field"}
				<li><a href="{$field.typeurl}" title="{$field.typename}">{$field.typename}</a></li>
				{/eyou:channel}
			</ul>
		</div>
		<div class="main_wrap">
			<div class="template_wrap">
				<ul>
					{eyou:list pagesize="8" titlelen="20"}
					<li>
      					<div class="item">
      						<div class="img"><img src="{$field.litpic}" alt="{$field.title}" /></div>
      						<div class="info">
								<h3><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></h3>
								<p><a href="{$field.arcurl}">{eyou:field aid='$field.aid' addfields='seo_tab' /}</a></p>
								<div class="more"><a href="{$field.arcurl}" title="View Template">View Template</a></div>
								<a href="{$field.arcurl}" class="more_btn"><i class="fas fa-link"></i></a>
      						</div>
      					</div>
      				</li>
      				{/eyou:list}
				</ul>
			</div>
			<div class="pageNav">
				<ul>
					{eyou:pagelist listitem="index,end,pre,next" listsize="2"/}
				</ul>
			</div>
		</div>
		<!--main block end-->
		<!--footer-s--> 
		{eyou:include file="footer.htm" /} 
		<!--footer-e-->
	</div>
    <script type="text/javascript" src="template/pc/Scripts/fakeLoader/fakeLoader.min.js"></script>
    <div class="fakeloader"></div>
	<script>
    	$(document).ready(function () {
        	$.fakeLoader({
				timeToHide:1200,
				zIndex:999,
            	bgColor: '#e74c3c',
                spinner: 'spinner2',
				imagePath:"yourPath/customizedImage.gif"
            });
        });
    </script>
 </body>
</html>