@charset "UTF-8";
/* CSS Document */

@import url(reset.css);
@import url(fontawesome/css/all.css);

h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'Lato', Helvetica, Arial, 'Noto Sans TC', "微軟正黑體", Heiti TC, "メイリオ", sans-serif;
}

a:hover {
	-webkit-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

.page_Wrap {
	width: 100%;
	overflow: hidden;
	position: relative;
}

/*==header 頭部==*/
header {
	width: 100%;
	position: absolute;
	z-index: 50;
}

header .top_link {
	background-color: #f7f7f7;
}

header .top_link .content {
	margin: 0 auto;
	width: 1160px;
	overflow: hidden;
}

header .top_link .content h2 {
	margin: 10px 0;
	float: left;
	font-size: 14px;
	color: #a3a3a3;
	font-weight: 300;
}

header .top_link .content ul {
	margin: 10px 0;
	float: right;
	overflow: hidden;
}

header .top_link .content ul li {
	margin-left: 30px;
	float: left;
}

header .top_link .content ul li a {
	font-size: 14px;
	color: #a3a3a3;
	font-weight: 300;
}

header .logo_wrap {
	margin: 30px auto;
	width: 1160px;
	overflow: hidden;
}

header .logo_wrap .cis {
	float: left;
}

header .logo_wrap .info_wrap {
	margin-top: 15px;
	float: right;
}

header .logo_wrap .info_wrap ul {
	overflow: hidden;
}

header .logo_wrap .info_wrap ul li {
	margin-left: 50px;
	float: left;
	overflow: hidden;
	position: relative;
	font-size: 30px;
	color: #5b879e;
}

header .logo_wrap .info_wrap ul li i {
	margin-right: 10px;
	float: left;
}

header .logo_wrap .info_wrap ul li .info_item {
	float: right;
	font-size: 14px;
	color: #a2a2a2;
	font-weight: 100;
}

header .logo_wrap .info_wrap ul li .info_item strong {
	margin-bottom: 10px;
	display: block;
	color: #252525;
}

header .logo_wrap .info_wrap ul li:nth-child(2) .info_item strong {
	margin: 4px 0 14px;
	font-size: 15px;
}

header .logo_wrap .info_wrap ul li:nth-child(2) .info_item p {
	font-size: 15px;
}

.page_Wrap header nav.manu_box {
	margin: 0 auto;
	width: 1160px;
	background: #5088a0;
}

.page_Wrap header nav.manu_box .collapse {
	padding: 0;
	border: 0;
}

.page_Wrap header nav.manu_box .collapse ul li {
	margin: 15px 0;
	padding-left: 15px;
	width: 16.5%;
	float: left;
}

.page_Wrap header nav.manu_box .collapse ul li:after {
	z-index:1;
	content:"";
	width:100%;
	height:0;
	position:absolute;
	top:-15px;
	left:0;
	display:block;
	background-image: -webkit-linear-gradient(270deg,rgba(38,99,121,1.00) 0%,rgba(62,136,162,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(38,99,121,1.00) 0%,rgba(62,136,162,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(38,99,121,1.00) 0%,rgba(62,136,162,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(38,99,121,1.00) 0%,rgba(62,136,162,1.00) 100%);
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	transition:all 0.4s ease;
}

.page_Wrap header nav.manu_box .collapse ul li:hover:after {
	height: 250%;
}

.page_Wrap header nav.manu_box .collapse ul li a {
	padding: 0;
	display: block;
	position: relative;
	z-index: 10;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
}

.page_Wrap header nav.manu_box .collapse ul li:last-child {
	margin-right: 0;
	width: 17.5%;
}

.page_Wrap header nav.manu_box .collapse ul li .dropdown-menu {
	width: 100%;
	background: #14485b;
	border: 0;
	border-top: 3px #3e88a2 solid;
	top: 195%;
}

.page_Wrap header nav.manu_box .collapse ul li .dropdown-menu li {
	margin: 0;
	padding: 10px;
	width: auto;
	float: none;
	border-bottom: 1px #225d72 solid;
}

.page_Wrap header nav.manu_box .collapse ul li .dropdown-menu li:hover:after {
	height: 0;
}

.page_Wrap header nav.manu_box .collapse ul li .dropdown-menu li a {
	padding: 0;
	border: 0;
	color: #fff;
}

.page_Wrap header nav.manu_box .collapse ul li .dropdown-menu li:hover {
	background: rgb(255,255,255,10%);
}