@charset "UTF-8";
/* CSS Document */

/*==banner slider 廣告==*/
.banner {
	margin-top: 212px;
	margin-bottom: 0;
	height: 250px;
	background: url(../images/bg-courseBig.jpg) no-repeat 50% 0;
	background-size: 100% auto;
	overflow: visible;
	position: relative;
}

.banner .banner_wrap {
	margin: 0 auto;
	width: 1160px;
}

.banner .banner_wrap .inPageTitle {
	margin-bottom: 30px;
	position: relative;
	top: 195px;
}

.banner .banner_wrap .inPageTitle h2 {
	margin: 0;
	padding-left: 120px;
	position: relative;
	font-size: 16px;
	color: #333;
	line-height: 1.8;
	font-weight: 300;
	letter-spacing: 2px;
}

.banner .banner_wrap .inPageTitle h2::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(64, 146, 169, 1) 0%, rgba(106, 224, 226, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10e351', endColorstr='#00fdff',GradientType=1 );
}

.banner .banner_wrap .inPageTitle p {
	margin: 0;
	background: linear-gradient(to right, #3d3d3d 0, #848484 50%);
    background-clip: border-box;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 80px;
	line-height: 1.2;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 5px;
}

/*==main 中間主要欄位==*/
.main_wrap {
	margin: 0 auto;
	padding: 90px 0;
	width: 1160px;
	overflow: hidden;
}

/*==bread 麵包屑==*/
.bread {
	margin: 0 10px 5px 0;
	text-align: right;
	font-size: 14px;
	color: #848484;
}

/*==page menu 頁面選單==*/
.side_menu {
	margin-bottom: 50px;
	overflow: hidden;
	position: relative;
}

.side_menu ul {
	margin: 0;
	text-align: center;
}

.side_menu ul li {
	display: inline-block;
}

.side_menu ul li a {
	margin: 0 5px;
	padding: 10px 20px;
	display: block;
	border: 1px #51b2c3 solid;
	border-radius: 5px;
	font-size: 15px;
	color: #000;
}

.side_menu ul li a:hover ,
.side_menu ul li a.active {
	background: #51b2c3;
	color: #fff;
}

/*==news list 新聞列表==*/
.courseInfoList {
	margin-bottom: 50px;
}

.courseInfoList li {
	padding: 15px 0;
}

.courseInfoList li + li {
	border-top: 1px dashed #d3d3d3;
}

.courseInfoList li p {
	font-size: 14px;
	color: #777;
	line-height: 1.5;
	font-weight: 300;
	letter-spacing: 2px;
}

.courseInfoList li .dateBox {
	font-size: 17px;
	color: #5088a0;
	line-height: 35px;
	font-weight: 900;
	letter-spacing: 1px;
}

.courseInfoList li .item {
	margin-bottom: 15px;
	display: flex;
}

.courseInfoList li .item .courseSort {
	margin-right: 20px;
	padding: 0;
    width: 125px;
    background-image: url("../images/circle_newIcon_darkCyan.png"), url("../images/circle_newIcon_darkCyan.png"), url("../images/circle_newIcon_darkCyan.png"), url("../images/circle_newIcon_darkCyan.png");
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    position: relative;
    text-align: center;
    line-height: 45px;
    -webkit-flex: 0 0 125px;
    -ms-flex: 0 0 125px;
    flex: 0 0 125px;
}

.courseInfoList li .item .courseSort::before {
	content: '';
	margin: auto;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border: 1px #51b2c3 solid;
	pointer-events: none;
	position: absolute;
	left: 1px;
	top: 1px;
}

.courseInfoList li .item .courseTitle {
	width: calc(100% - 125px - 20px);
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.courseInfoList li .item .courseTitle a {
	display: block;
    overflow: hidden;
    font-size: 17px;
    color: #1c1c1c;
    line-height: 45px;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.courseInfoList li .Class_date {
	margin-bottom: 10px;
	font-size: 16px;
	color: #5088a0;
	font-weight: 500;
	letter-spacing: 1px;
}


/*==page nav 分頁選單==*/
.pageNav {
	overflow: hidden;
}

.pageNav ul {
	margin: 0;
	overflow: hidden;
	text-align: center;
}

.pageNav ul li {
	display: inline-block;
}

.pageNav ul li span ,
.pageNav ul li a {
	margin: 0 5px;
	padding: 10px 20px;
	display: block;
	border: 1px #000 solid;
	border-radius: 5px;
	font-size: 15px;
	color: #000;
}

.pageNav ul li a {
	border-color: #51b2c3;
	color: #51b2c3;
}

.pageNav ul li a.no_data {
	display: none;
}

.pageNav ul li.prev {
	float: left;
}

.pageNav ul li.next {
	float: right;
}

/*==course Date 內頁新聞分類與日期==*/
.courseSort {
	padding: 10px 0;
	font-size: 16px;
	color: #5088a0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/*==course title 文章標題==*/
h1.courseTitle {
	margin: 0 0 30px;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 2px;
}

h1.courseTitle::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 27px;
    margin-right: 15px;
    border-radius: 5px;
    vertical-align: text-bottom;
    background: #48ca4b;
    background: linear-gradient(to bottom, #4192a8 0%, #69b2c3 46%, #6ae0e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48ca4b', endColorstr='#07e7e8',GradientType=0 );
}

/*==share 分享==*/
.share {
	margin-bottom: 15px;
	text-align: right;
	font-size: 16px;
	color: #2f2f2f;
}

.share a {
	padding: 0 5px;
	display: inline-block;
}

/*==article 文章欄位==*/
.main_article {
	overflow: hidden;
	position: relative;
}

.main_article .description {
	margin-bottom: 30px;
	font-size: 16px;
	color: #51b2c3;
	line-height: 2;
	font-weight: 400;
}

.main_article .courseInfo {
	margin-bottom: 30px;
}

.main_article .courseInfo p {
	margin: 0;
	padding: 10px 0;
	font-size: 16px;
	line-height: 2;
	font-weight: 300;
}

.main_article .courseInfo p + p ,
.main_article .courseInfo p:last-child {
	border-top: 1px #d3d3d3 dashed;
}

.main_article .courseDetailed {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.5;
}

.main_article .download {
	margin-bottom: 50px;
	background: #f7f7f7;
	border-bottom: 2px #9d9d9d solid;
}

.main_article .download p {
	margin: 0;
	padding: 10px;
	font-size: 16px;
	font-weight: 500;
}

.main_article .download p + p {
	border-top: 1px #9d9d9d solid;
}