@charset "UTF-8";
/* CSS Document */

/*==banner slider 廣告==*/
.banner {
	margin-top: 212px;
	margin-bottom: 0;
	height: 250px;
	background: url(../images/bg-lecture.jpg) no-repeat 50% 0;
	background-size: 100% auto;
	overflow: visible;
	position: relative;
}

.banner .banner_wrap {
	margin: 0 auto;
	width: 1160px;
}

.banner .banner_wrap .inPageTitle {
	margin-bottom: 30px;
	position: relative;
	top: 195px;
}

.banner .banner_wrap .inPageTitle h2 {
	margin: 0;
	padding-left: 120px;
	position: relative;
	font-size: 16px;
	color: #333;
	line-height: 1.8;
	font-weight: 300;
	letter-spacing: 2px;
}

.banner .banner_wrap .inPageTitle h2::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(64, 146, 169, 1) 0%, rgba(106, 224, 226, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10e351', endColorstr='#00fdff',GradientType=1 );
}

.banner .banner_wrap .inPageTitle p {
	margin: 0;
	background: linear-gradient(to right, #3d3d3d 0, #848484 50%);
    background-clip: border-box;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 80px;
	line-height: 1.2;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 5px;
}

/*==main 中間主要欄位==*/
.main_wrap {
	margin: 0 auto;
	padding: 90px 0;
	width: 1160px;
	overflow: hidden;
}

/*==bread 麵包屑==*/
.bread {
	margin: 0 10px 5px 0;
	text-align: right;
	font-size: 14px;
	color: #848484;
}

/*==page menu 頁面選單==*/
.side_menu {
	margin-bottom: 50px;
	overflow: hidden;
	position: relative;
}

.side_menu ul {
	margin: 0;
	text-align: center;
}

.side_menu ul li {
	display: inline-block;
}

.side_menu ul li a {
	margin: 0 5px;
	padding: 10px 20px;
	display: block;
	border: 1px #51b2c3 solid;
	border-radius: 5px;
	font-size: 15px;
	color: #000;
}

.side_menu ul li a:hover ,
.side_menu ul li a.active {
	background: #51b2c3;
	color: #fff;
}

/*==lecture list 講座列表==*/
.lectureInfoList {
	margin-bottom: 50px;
}

.lectureInfoList h3 {
	margin: 0 0 5px;
	padding: 15px;
	background: #eee;
	font-size: 18px;
	-webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
	transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
}

.lectureInfoList h3 em {
	margin-right: 10px;
}

.lectureInfoList h3:hover ,
.lectureInfoList h3.on {
	background: #5088a0;
	color: #fff;
}

.lectureInfoList h3.on em .fa-plus::before {
	content: "\f068";
} 

.lectureInfoList ul {
	padding: 20px;
	overflow: hidden;
}

.lectureInfoList ul li {
	margin-bottom: 25px;
	overflow: hidden;
	position: relative;
}

.lectureInfoList ul li .titleBox {
	margin: 35px 0 30px 85px;
	padding-left: 30px;
	position: relative;
	z-index: 1;
	color: #333;
}

.lectureInfoList ul li .titleBox::before {
	content: '';
	position: absolute;
	width: 3px;
	height: 92%;
	top: 4%;
	border-radius: 5px;
	background: #48ca4b;
	background: linear-gradient(to bottom, #4192a8 0%, #69b2c3 46%, #6ae0e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48ca4b', endColorstr='#07e7e8',GradientType=0 );
}

.lectureInfoList ul li .titleBox::after {
	content: "." attr(data-num);
	position: absolute;
	top: -70px;
	font-weight: 900;
	font-style: italic;
	font-size: 123px;
	color: #fff;
	text-shadow: 0 0 13px rgba(51, 130, 51, 0.1);
	z-index: -1;
}

.lectureInfoList ul li .titleBox span {
	background: linear-gradient(to right, #1e7979 0, #429d9d 50%);
	display: block;
	font-size: 18px;
	color: #009899;
	font-weight: 900;
	letter-spacing: 5px;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.lectureInfoList ul li .titleBox p {
	margin: 10px 0;
	background: linear-gradient(to right, #3d3d3d 0, #848484 50%);
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 900;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.lectureInfoList ul li.replyBox .titleBox {
	margin: 35px 85px 30px 0;
	padding: 0 30px 0 0;
}

.lectureInfoList ul li.provisionsBox .titleBox {
	margin: 35px 85px 30px;
	padding-left: 300px;
}

.lectureInfoList ul li.askBox .titleBox::before ,
.lectureInfoList ul li.provisionsBox .titleBox::after {
	left: 0;
}

.lectureInfoList ul li.askBox .titleBox::after {
	left: -75px;
}

.lectureInfoList ul li.replyBox .titleBox::before {
	right: 0;
}

.lectureInfoList ul li.replyBox .titleBox::after {
	right: -75px;
}

.lectureInfoList ul li.replyBox .titleBox span ,
.lectureInfoList ul li.replyBox .titleBox p {
	text-align: right;
}

.lectureInfoList ul li.provisionsBox .titleBox::before {
	left: 270px;
}

.lectureInfoList ul li.askBox .questions_content ,
.lectureInfoList ul li.replyBox .reply_content ,
.lectureInfoList ul li.provisionsBox .legal_content {
	margin: -42px 0 0 85px;
	padding: 35px 30px;
	background:  #f7f7f7;
	font-size: 16px;
	color: #666;
	font-weight: 400;
}

.lectureInfoList ul li.replyBox .reply_content {
	margin: -42px 85px 0 0;
	background: #eee;
}

.lectureInfoList ul li.provisionsBox .legal_content {
	margin: -35px 0 0;
	background: #5395b1;
	color: #fff;
}

/*==page nav 分頁選單==*/
.pageNav {
	overflow: hidden;
}

.pageNav ul {
	margin: 0;
	overflow: hidden;
	text-align: center;
}

.pageNav ul li {
	display: inline-block;
}

.pageNav ul li span ,
.pageNav ul li a {
	margin: 0 5px;
	padding: 10px 20px;
	display: block;
	border: 1px #000 solid;
	border-radius: 5px;
	font-size: 15px;
	color: #000;
}

.pageNav ul li a {
	border-color: #51b2c3;
	color: #51b2c3;
}

.pageNav ul li a.no_data {
	display: none;
}

.pageNav ul li.prev {
	float: left;
}

.pageNav ul li.next {
	float: right;
}