@charset "UTF-8";
/* CSS Document */

/*==banner slider 廣告==*/
.banner {
	margin-top: 212px;
	margin-bottom: 0;
	height: 250px;
	background: url(../images/bg-search.jpg) no-repeat 50% 0;
	background-size: 100% auto;
	overflow: visible;
	position: relative;
}

.banner .banner_wrap {
	margin: 0 auto;
	width: 1160px;
}

.banner .banner_wrap .inPageTitle {
	margin-bottom: 30px;
	position: relative;
	top: 195px;
}

.banner .banner_wrap .inPageTitle h2 {
	margin: 0;
	padding-left: 120px;
	position: relative;
	font-size: 16px;
	color: #333;
	line-height: 1.8;
	font-weight: 300;
	letter-spacing: 2px;
}

.banner .banner_wrap .inPageTitle h2::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(64, 146, 169, 1) 0%, rgba(106, 224, 226, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10e351', endColorstr='#00fdff',GradientType=1 );
}

.banner .banner_wrap .inPageTitle p {
	margin: 0;
	background: linear-gradient(to right, #3d3d3d 0, #848484 50%);
    background-clip: border-box;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 80px;
	line-height: 1.2;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 5px;
}

/*==main 中間主要欄位==*/
.main_wrap {
	margin: 0 auto;
	padding: 90px 0;
	width: 1160px;
	overflow: hidden;
}

/*==law title 文章標題==*/
h1.searchTitle {
	margin: 30px 0;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 2px;
}

h1.searchTitle::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 27px;
    margin-right: 15px;
    border-radius: 5px;
    vertical-align: text-bottom;
    background: #48ca4b;
    background: linear-gradient(to bottom, #4192a8 0%, #69b2c3 46%, #6ae0e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48ca4b', endColorstr='#07e7e8',GradientType=0 );
}

/*==Law list 法規列表==*/
.searchList {
	margin-bottom: 50px;
}

.searchList li {
	padding: 15px 0 10px;
}

.searchList li + li {
	border-top: 1px dashed #d3d3d3;
}

.searchList li .item {
	display: flex;
}

.searchList li .item .dateBox {
	margin-right: 20px;
	width: 130px;
	height: 35px;
	display: flex;
	-webkit-flex: 0 0 130px;
	-ms-flex: 0 0 130px;
	flex: 0 0 130px;
	font-size: 21px;
	color: #5088a0;
	line-height: 35px;
	font-weight: 900;
	letter-spacing: 1px;
}

.searchList li .item .searchTitle {
	margin-top: 3px;
	height: 35px;
	line-height: 35px;
	width: calc(100% - 130px - 20px);
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.searchList li .item .searchTitle a {
	display: inline-block;
    overflow: hidden;
    font-size: 19px;
    color: #1c1c1c;
    line-height: 35px;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.searchList li .ellipsis {
	margin-bottom: 0;
    width: 100%;
    height: 45px;
    font-size: 14px;
    color: #777;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 2px;
}


/*==page nav 分頁選單==*/
.pageNav {
	overflow: hidden;
}

.pageNav ul {
	margin: 0;
	overflow: hidden;
	text-align: center;
}

.pageNav ul li {
	display: inline-block;
}

.pageNav ul li span ,
.pageNav ul li a {
	margin: 0 5px;
	padding: 10px 20px;
	display: block;
	border: 1px #000 solid;
	border-radius: 5px;
	font-size: 15px;
	color: #000;
}

.pageNav ul li a {
	border-color: #51b2c3;
	color: #51b2c3;
}

.pageNav ul li a.no_data {
	display: none;
}

.pageNav ul li.prev {
	float: left;
}

.pageNav ul li.next {
	float: right;
}

/*==law Date 法規分類與日期==*/
.lawDate {
	padding: 10px 0;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.lawDate .lawSort {
	display: inline-block;
	color: #5088a0;
}

.lawDate .dateBox {
	display: inline-block;
	color: #5088a0;
	font-weight: 900;
}

/*==law title 文章標題==*/
h1.lawTitle {
	margin: 0 0 30px;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 2px;
}

h1.lawTitle::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 27px;
    margin-right: 15px;
    border-radius: 5px;
    vertical-align: text-bottom;
    background: #48ca4b;
    background: linear-gradient(to bottom, #4192a8 0%, #69b2c3 46%, #6ae0e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48ca4b', endColorstr='#07e7e8',GradientType=0 );
}

/*==article 文章欄位==*/
.main_article {
	margin-bottom: 50px;
	overflow: hidden;
	position: relative;
	font-size: 16px;
}